body{
    background-color: #373E98;
}

hr{
    border-color: #ceb92c;
    background-color: #373E98;
    border-style: none;
    border-top-style: dotted;
    border-width: 7px;
    height: none;
    width: 7%;
}

h1{
    color: #f16775;
}
h2{
    color: #f16775;
}
h3{
    color: #f16775;
}

body{
    color: white;
}

a{
    color: #fee36e;
}
